services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    container_name: mappi-postgres
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mappi
